go 1.24.4

use (
	./code/01-getting-started/first-app
	./code/02-go-essentials/02-working-with-variables-types-operators
	./code/02-go-essentials/03-using-alternative-variable-declaration-styles
	./code/02-go-essentials/04-constants
	./code/02-go-essentials/05-improved-user-input-fetching
	./code/02-go-essentials/06-exercise-solution
	./code/02-go-essentials/07-formatting-floats-in-strings
	./code/02-go-essentials/09-understanding-functions
	./code/02-go-essentials/10-functions-return-values
	./code/02-go-essentials/11-alternative-return-syntax
	./code/02-go-essentials/12-exercise-fn-solution
	./code/02-go-essentials/13-onwards-to-control-structures
	./code/02-go-essentials/14-introducing-if
	./code/02-go-essentials/15-working-with-else-if
	./code/02-go-essentials/16-exercise-if
	./code/02-go-essentials/17-else
	./code/02-go-essentials/18-nested-if
	./code/02-go-essentials/19-repeating-code-with-for
	./code/02-go-essentials/20-infinite-loop-break-continue
	./code/02-go-essentials/21-switch
	./code/02-go-essentials/22-writing-to-files
	./code/02-go-essentials/23-reading-from-files
	./code/02-go-essentials/24-handling-errors
	./code/02-go-essentials/25-section-exercise-solution
	./code/03-working-with-packages/01-starting-project
	./code/03-working-with-packages/02-splitting-code-across-files
	./code/03-working-with-packages/03-exporting-importing
	./code/03-working-with-packages/04-third-party-packages
	./code/04-understanding-pointers/01-writing-code-without-pointers
	./code/04-understanding-pointers/02-pointers-as-values
	./code/04-understanding-pointers/03-using-pointers-passing-to-fn
	./code/04-understanding-pointers/04-using-pointers-for-data-mutation
	./code/05-structs-custom-types/01-starting-project
	./code/05-structs-custom-types/02-defining-a-struct
	./code/05-structs-custom-types/03-instantiating-structs
	./code/05-structs-custom-types/04-structs-pointers
	./code/05-structs-custom-types/05-introducing-methods
	./code/05-structs-custom-types/06-mutation-methods
	./code/05-structs-custom-types/07-using-creation-constructor-functions
	./code/05-structs-custom-types/09-exposing-methods
	./code/05-structs-custom-types/10-struct-embedding
	./code/05-structs-custom-types/11-other-custom-types
	./code/05-structs-custom-types/12-new-starting-project
	./code/05-structs-custom-types/13-getting-user-input
	./code/05-structs-custom-types/14-creating-struct-and-constructor-fn
	./code/05-structs-custom-types/15-handling-long-user-input
	./code/05-structs-custom-types/16-fixes
	./code/05-structs-custom-types/17-struct-tags
	./code/06-interfaces/01-starting-project
	./code/06-interfaces/02-finishing-interface-preparations
	./code/06-interfaces/03-creating-a-first-interface
	./code/06-interfaces/04-using-the-interface
	./code/06-interfaces/05-embedded-interfaces
	./code/06-interfaces/06-special-any-value-interface
	./code/06-interfaces/07-working-with-type-switches
	./code/06-interfaces/08-extracting-type-information
	./code/06-interfaces/09-introducing-generics

)

